Client/Service References/AzureStorageBroker/StorageBroker54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AzureClientInterface" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AzureClientInterface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceBusConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="Issuer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Namespace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Secret" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceBusConfiguration" nillable="true" type="tns:ServiceBusConfiguration" />
</xs:schema>