Client/Service References/AzureStorageBroker/StorageBroker5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6727/StorageBroker.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:import schemaLocation="http://localhost:6727/StorageBroker.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:6727/StorageBroker.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/AzureClientInterface" />
  <xs:import schemaLocation="http://localhost:6727/StorageBroker.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/CloudDAL" />
  <xs:import schemaLocation="http://localhost:6727/StorageBroker.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="EnumerateImageLibraries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientRegistrationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnumerateImageLibrariesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="EnumerateImageLibrariesResult" nillable="true" type="q1:ArrayOfKeyValuePairOfanyURIstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnumerateImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="container" nillable="true" type="xs:anyURI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnumerateImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="EnumerateImagesResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceBusConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientRegistrationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceBusConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AzureClientInterface" minOccurs="0" name="GetServiceBusConfigurationResult" nillable="true" type="q3:ServiceBusConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobsForClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientRegistrationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobsForClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CloudDAL" minOccurs="0" name="GetJobsForClientResult" nillable="true" type="q4:ArrayOfJobEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusEntriesForJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientRegistrationId" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="jobId" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusEntriesForJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CloudDAL" minOccurs="0" name="GetStatusEntriesForJobResult" nillable="true" type="q6:ArrayOfStatusEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>