Client/Service References/AzureStorageBroker/StorageBroker.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StorageBroker" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6727/StorageBroker.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6727/StorageBroker.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6727/StorageBroker.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
      <xsd:import schemaLocation="http://localhost:6727/StorageBroker.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:6727/StorageBroker.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/AzureClientInterface" />
      <xsd:import schemaLocation="http://localhost:6727/StorageBroker.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/CloudDAL" />
      <xsd:import schemaLocation="http://localhost:6727/StorageBroker.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Microsoft.WindowsAzure.StorageClient" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStorageBroker_EnumerateImageLibraries_InputMessage">
    <wsdl:part name="parameters" element="tns:EnumerateImageLibraries" />
  </wsdl:message>
  <wsdl:message name="IStorageBroker_EnumerateImageLibraries_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnumerateImageLibrariesResponse" />
  </wsdl:message>
  <wsdl:message name="IStorageBroker_EnumerateImages_InputMessage">
    <wsdl:part name="parameters" element="tns:EnumerateImages" />
  </wsdl:message>
  <wsdl:message name="IStorageBroker_EnumerateImages_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnumerateImagesResponse" />
  </wsdl:message>
  <wsdl:message name="IStorageBroker_GetServiceBusConfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceBusConfiguration" />
  </wsdl:message>
  <wsdl:message name="IStorageBroker_GetServiceBusConfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceBusConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="IStorageBroker_GetJobsForClient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobsForClient" />
  </wsdl:message>
  <wsdl:message name="IStorageBroker_GetJobsForClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobsForClientResponse" />
  </wsdl:message>
  <wsdl:message name="IStorageBroker_GetStatusEntriesForJob_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusEntriesForJob" />
  </wsdl:message>
  <wsdl:message name="IStorageBroker_GetStatusEntriesForJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusEntriesForJobResponse" />
  </wsdl:message>
  <wsdl:portType name="IStorageBroker">
    <wsdl:operation name="EnumerateImageLibraries">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorageBroker/EnumerateImageLibraries" message="tns:IStorageBroker_EnumerateImageLibraries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorageBroker/EnumerateImageLibrariesResponse" message="tns:IStorageBroker_EnumerateImageLibraries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnumerateImages">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorageBroker/EnumerateImages" message="tns:IStorageBroker_EnumerateImages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorageBroker/EnumerateImagesResponse" message="tns:IStorageBroker_EnumerateImages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceBusConfiguration">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorageBroker/GetServiceBusConfiguration" message="tns:IStorageBroker_GetServiceBusConfiguration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorageBroker/GetServiceBusConfigurationResponse" message="tns:IStorageBroker_GetServiceBusConfiguration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobsForClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorageBroker/GetJobsForClient" message="tns:IStorageBroker_GetJobsForClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorageBroker/GetJobsForClientResponse" message="tns:IStorageBroker_GetJobsForClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatusEntriesForJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorageBroker/GetStatusEntriesForJob" message="tns:IStorageBroker_GetStatusEntriesForJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorageBroker/GetStatusEntriesForJobResponse" message="tns:IStorageBroker_GetStatusEntriesForJob_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStorageBroker" type="tns:IStorageBroker">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnumerateImageLibraries">
      <soap:operation soapAction="http://tempuri.org/IStorageBroker/EnumerateImageLibraries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnumerateImages">
      <soap:operation soapAction="http://tempuri.org/IStorageBroker/EnumerateImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceBusConfiguration">
      <soap:operation soapAction="http://tempuri.org/IStorageBroker/GetServiceBusConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobsForClient">
      <soap:operation soapAction="http://tempuri.org/IStorageBroker/GetJobsForClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusEntriesForJob">
      <soap:operation soapAction="http://tempuri.org/IStorageBroker/GetStatusEntriesForJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StorageBroker">
    <wsdl:port name="BasicHttpBinding_IStorageBroker" binding="tns:BasicHttpBinding_IStorageBroker">
      <soap:address location="http://localhost:6727/StorageBroker.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>